In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
people

{'first': ['Corey', 'Jane', 'John'],
 'last': ['Schafer', 'Doe', 'Doe'],
 'email': ['CoreyMSchafer@gmail.com',
  'JaneDoe@email.com',
  'JohnDoe@email.com']}

In [3]:
import pandas as pd
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df["last"]=='Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [6]:
filt=(df["last"]=='Doe')  #filt=df["last"]=='Doe' same meaninig

In [7]:
filt

0    False
1     True
2     True
Name: last, dtype: bool

In [8]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [9]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [10]:
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [11]:
filt=(df["last"]=='Doe') & (df['first']=='John')

In [12]:
filt

0    False
1    False
2     True
dtype: bool

In [13]:
df[filt]

  first last              email
2  John  Doe  JohnDoe@email.com

In [14]:
df[-filt] #opposite boolean

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [15]:
df.loc[filt,'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [16]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [17]:
filt=(df["last"]=='Doe') | (df['first']=='Schafer')
filt

0    False
1     True
2     True
dtype: bool