In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [3]:
1+np.nan

nan

In [4]:
0*np.nan

nan

In [5]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

In [6]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

In [7]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [8]:
pd.Series([1,5, None])

0    1.0
1    5.0
2    NaN
dtype: float64

In [9]:
data = pd.Series([1, np.nan, 'hello', None])
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [10]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [11]:
data.dropna()

0        1
2    hello
dtype: object

In [12]:
df = pd.DataFrame([[1, np.nan, 2],
[2, 3, 5],
[np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [13]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [14]:
df.dropna(axis='rows')

     0    1  2
1  2.0  3.0  5

In [15]:
df.dropna(axis=1)

   2
0  2
1  5
2  6

In [16]:
df[3]=np.nan

In [17]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [18]:
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [19]:
df.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

In [20]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [21]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [22]:
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [23]:
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [24]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [25]:
df.fillna(axis='rows', method='ffill')

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  2.0  4.0  6 NaN

In [26]:
df.fillna(axis='columns', method='ffill')

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

In [28]:
dataf=pd.read_csv('D:\Extra Knowledge\Data Science\Python\Introduction to data science with python\dataset/worldwide_happiness_report.csv')
dataf.head(5)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [29]:
dataf.shape

(156, 9)

In [30]:
dataf.ndim

2

In [31]:
dataf.size

1404

In [32]:
dataf.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [33]:
dataf.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [34]:
dataf[['Country or region', 'Perceptions of corruption']].head(5)

  Country or region  Perceptions of corruption
0           Finland                      0.393
1           Denmark                      0.410
2            Norway                      0.341
3           Iceland                      0.118
4       Netherlands                      0.298

In [35]:
dataf[0:3]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341

In [36]:
index = [('California', 2000), ('California', 2010),
('New York', 2000), ('New York', 2010),
('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
18976457, 19378102,
20851820, 25145561]
pop = pd.Series(populations, index=index)
pop

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [37]:
pop[('California', 2010):('Texas', 2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [38]:
index=pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [39]:
pop=pop.reindex(index)

In [40]:
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [41]:
pop[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [42]:
pop.index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [43]:
pop_df=pop.unstack()

In [44]:
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [45]:
pop_df.stack()

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [ ]:
pop_df = pd.DataFrame({'total': pop,
'under18': [9267089, 9284094,
4687374, 4318033,
5906301, 6879014]})
pop_df

In [ ]:
f_u18 = pop_df['under18'] / pop_df['total']
f_u18

In [ ]:
f_u18.unstack()

In [ ]:
df = pd.DataFrame(np.random.rand(4, 2),
index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
columns=['data1', 'data2'])
df

In [ ]:
data = {('California', 2000): 33871648,
('California', 2010): 37253956,
('Texas', 2000): 20851820,
('Texas', 2010): 25145561,
('New York', 2000): 18976457,
('New York', 2010): 19378102}
pd.Series(data)

In [ ]:
pd.DataFrame(pd.Series(data))

In [ ]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])

In [ ]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

In [ ]:
pop.index.names

In [ ]:
pop.index.names=['states', 'year']

In [ ]:
pop

In [ ]:
pd.DataFrame(pop, columns=['population'])

In [ ]:
# hierarchical indices and columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]],
names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],
names=['subject', 'type'])
# mock some data
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37
# create the DataFrame
health_data = pd.DataFrame(data, index=index, columns=columns)
health_data

In [ ]:
happiness=dataf.set_index('Country or region')
happiness.head()

In [ ]:
happiness=happiness.sort_index()
happiness.head()

In [ ]:
np.array(happiness.index)

In [ ]:
south_asia=happiness.loc[['Pakistan', 'India','Bangladesh', 'Bhutan','Nepal','China','Sri Lanka'], 'Overall rank']
south_asia

In [ ]:
plt.plot(south_asia)

In [ ]:
import seaborn as sns

In [ ]:
happiness[happiness['Overall rank']>140]

In [ ]:
happiness['Overall rank'].max()

In [ ]:
dataf.set_index(['Country or region', 'Overall rank'])

In [ ]:
pd.MultiIndex.from_arrays([[1,2,3,4],['a','b','c','d']])

In [ ]:
pd.MultiIndex.from_arrays([[1,2,3,4], ['a', 'b', 'c', 'd']])

In [ ]:
pop

In [ ]:
pop['California', 2000]

In [ ]:
traffic=pd.read_csv('Music/Road_saftey.csv')
traffic.head(5)

In [ ]:
mental=pd.read_csv('Music/mental_health.csv')
mental.head()

In [ ]:
mental.columns

In [ ]:
ment=mental.set_index(['Country', 'Year'])
ment.head()

In [ ]:
ment.shape

In [ ]:
ment.index

In [ ]:
ment.loc['Bangladesh']

In [ ]:
dframe=mental.set_index('Country')
dframe.loc[['Bangladesh', 'India', 'Pakistan', 'China']]

In [ ]:
dframe[dframe['Year']==2015]

In [ ]:
pop

In [ ]:
pop['California']

In [ ]:
pop['California', 2000]

In [ ]:
pop['California':'New York']

In [ ]:
pop[:, 2000]

In [ ]:
pop[pop>22000000]

In [ ]:
pop[['California', 'New York']]

In [ ]:
health_data

In [ ]:
health_data['Guido', 'HR']

In [ ]:
health_data.iloc[:2, :2]

In [ ]:
health_data.loc[:, 'Bob']

In [ ]:
health_data.loc[:,('Bob', 'HR')]

In [ ]:
health_data.loc[(2013,1),('Bob', 'HR')]

In [ ]:
health_data.loc[(2014, 1), (:, 'HR')]

In [ ]:
idx=pd.IndexSlice
health_data.loc[idx[:,1], idx[:,'HR']]

In [ ]:
index=pd.MultiIndex.from_product([['a', 'c', 'b'], [1,2]])
data=pd.Series(np.random.rand(6), index=index)
data

In [ ]:
data.index.names=['char', 'int']
data

In [ ]:
try:
    data['a':'b']
except KeyError as e:
    print(type(e))
    print(e)

In [ ]:
data=data.sort_index()
data

In [ ]:
data['a': 'b']

In [ ]:
pop

In [ ]:
pop.unstack(level=0)

In [ ]:
pop.unstack(level=1)

In [ ]:
pop.unstack()

In [ ]:
pop

In [ ]:
pop_flat=pop.reset_index(name='population')
pop_flat

In [ ]:
pop_flat.set_index(['states', 'year'])

In [ ]:
health_data

In [ ]:
data_mean=health_data.mean(level='year')
data_mean

In [ ]:
data_mean.mean(axis='columns',level='type')

In [ ]:
def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)
# example DataFrame
make_df('ABC', range(3))

In [ ]:
x = [1, 2, 3]
y = [4, 5, 6]
z = [7, 8, 9]
np.concatenate([x, y, z])

In [ ]:
x = [[1, 2],
    [3, 4]]
np.concatenate([x,x], axis=1)
#np.concatenate([x, x], axis=1)

In [ ]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
pd.concat([ser1,ser2])

In [ ]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(df1); print(df2); print(pd.concat([df1, df2]))

In [ ]:
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
print(df3); print(df4); print(pd.concat([df3, df4], axis=1))

In [ ]:
x = make_df('AB', [0, 1])
y = make_df('AB', [2, 3])
x

In [ ]:
y

In [ ]:
y.index=x.index

In [ ]:
pd.concat([x,y])

In [ ]:
print(x);print(y);print(pd.concat([x,y], ignore_index=True))

In [ ]:
print(x); print(y); print(pd.concat([x, y], keys=['x', 'y']))

In [ ]:
corona_aug8=pd.read_csv('Music/08-28-2020.csv')
corona_aug8.head(5)

In [ ]:
corona_aug8.shape

In [ ]:
corona_aug8.columns

In [ ]:
data_aug8=corona_aug8.set_index(['Country_Region','Province_State'])
data_aug8.head(5)

In [ ]:
data_aug8.loc[['Bangladesh', 'Pakistan', 'India'],:]

In [ ]:
china_conf=data_aug8['Confirmed']['China']
china_conf.sort_index()

In [ ]:
print('max infection in a day :', china_conf.max())

In [ ]:
china_conf[china_conf==china_conf.max()]

### January 4, 2020
[depression data](https://bolt.mph.ufl.edu/2012/08/02/learn-by-doing-exploring-a-dataset/)

In [1]:
import numpy as np
import pandas as pd

In [3]:
data=pd.Series([10,12,245])

In [4]:
data

0     10
1     12
2    245
dtype: int64

In [5]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [6]:
data.values

array([ 10,  12, 245], dtype=int64)