In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns',100)

In [4]:
pa = "https://raw.githubusercontent.com/kshedden/statswpy-nhanes/master/merged/nhanes_2015_2016.csv"
df = pd.read_csv(pa)
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1.0,1.0,62.0,3.0,1.0,5.0,1.0,2.0,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1.0,1.0,53.0,3.0,2.0,3.0,3.0,1.0,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1.0,1.0,78.0,3.0,1.0,3.0,1.0,2.0,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2.0,2.0,56.0,3.0,1.0,5.0,6.0,1.0,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2.0,2.0,42.0,4.0,1.0,4.0,3.0,5.0,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [5]:
df.shape

(5735, 25)

In [6]:
df.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'INDFMPIR',
       'BPXSY1', 'BPXDI1', 'BPXSY2', 'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI',
       'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST', 'HIQ210'],
      dtype='object')

In [7]:
keep=['BMXWT', 'BMXHT', 'BMXBMI',
       'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST']
df[keep].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [8]:
[column for column in df.columns if 'BMX' in column]

['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST']

In [9]:
keep=[column for column in df.columns if 'BMX' in column]
df[keep].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [10]:
df.loc[:,keep].head() #loc means location

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [11]:
index_bool=np.isin(df.columns,keep)
index_bool

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
        True,  True,  True,  True,  True,  True, False])

In [12]:
df.iloc[:,index_bool].head() #iloc mean integer lonation

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [13]:
# Lets only look at rows who 'BMXWAIST' is larger than the median
waist_median=pd.Series.median(df['BMXWAIST'])
waist_median

98.3

In [19]:
df['BMXWAIST'].median()

98.3

In [22]:
df_waist=df['BMXWAIST']
larg_than=df['BMXWAIST'] > waist_median
df[larg_than].head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1.0,1.0,62.0,3.0,1.0,5.0,1.0,2.0,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1.0,1.0,53.0,3.0,2.0,3.0,3.0,1.0,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1.0,1.0,78.0,3.0,1.0,3.0,1.0,2.0,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2.0,2.0,56.0,3.0,1.0,5.0,6.0,1.0,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
9,83744,1.0,NaN,NaN,2.0,1.0,56.0,4.0,1.0,3.0,3.0,1.0,1.19,178.0,116.0,180.0,114.0,108.3,179.4,33.6,46.0,44.1,38.5,116.0,2.0

In [23]:
larg_than.sum()

2677

In [25]:
df_waist.head()

0    101.1
1    107.9
2    116.5
3    110.1
4     80.4
Name: BMXWAIST, dtype: float64

In [24]:
df_waist[larg_than].head()

0    101.1
1    107.9
2    116.5
3    110.1
9    116.0
Name: BMXWAIST, dtype: float64

In [26]:
df_BMX=df[keep]

In [27]:
 # Lets add another condition, that 'BMXLEG' must be less than 32
condition1 = df_BMX['BMXWAIST'] > waist_median
condition2 = df_BMX['BMXLEG'] < 32
df_BMX[condition1 & condition2].head() # Using [] method
# Note: can't use 'and' instead of '&'

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [28]:
df_BMX.loc[condition1 & condition2, :].head()

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [29]:
# Lets make a small dataframe and give it a new index so can more clearly see the dif
tmp = df_BMX.loc[condition1 & condition2, :].head()
tmp.index = ['a', 'b', 'c', 'd', 'e'] 
# If you use different years than 2015-2016, this 
tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8    35.4    31.6     32.7     33.7     113.5
b   75.6  145.2    35.9    31.0     33.1     36.0     108.0
c   63.7  147.9    29.1    26.0     34.0     31.5     110.0
d  105.9  157.7    42.6    29.2     35.0     40.7     129.1
e   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [30]:
tmp.loc[['a','b'], 'BMXWAIST']

a    113.5
b    108.0
Name: BMXWAIST, dtype: float64

In [31]:
tmp.iloc[[0, 1], 6]

a    113.5
b    108.0
Name: BMXWAIST, dtype: float64

### Common errors and how to read them

In [ ]:
tmp[:, 'BMXBMI'] #it gives error because we need tmp.loc[]

In [32]:
tmp.loc[:,'BMXBMI']

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [33]:
tmp.loc[:, 'BMXBMI'].values

array([35.4, 35.9, 29.1, 42.6, 35.2])

In [ ]:
tmp.iloc[:, 'BMXBMI'] #because takes only integer location 'BMXBMI' is string

In [34]:
tmp.iloc[:, 2]

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [ ]:
tmp.loc[:, 2]
#The above code gives: TypeError: cannot do label indexing on <class
#'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>
#2 is not one of the labels (i.e. column names) in the dataframe

In [35]:
# Here is another example of using a boolean list for indexing columns
tmp.loc[:, [False, False, True] +[False]*4]

   BMXBMI
a    35.4
b    35.9
c    29.1
d    42.6
e    35.2

In [36]:
# We can use the .loc and .iloc methods to change values within the dataframe
tmp.iloc[0:3,2] = [0]*3
tmp.iloc[:,2]

a     0.0
b     0.0
c     0.0
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [ ]:
tmp.loc['a':'c','BMXBMI'] = [1]*3
tmp.loc[:,'BMXBMI']

In [ ]:
# We can use the [] method when changing all the values of a column
tmp['BMXBMI'] = range(0, 5)
tmp

In [ ]:
tmp.loc[tmp.BMXBMI > 2, 'BMXBMI'] = [10]*2
tmp

In [ ]:
pd.notnull(df).sum()

In [37]:
pd.isnull(df).sum()

SEQN           0
ALQ101       527
ALQ110      4004
ALQ130      2356
SMQ020         0
RIAGENDR       0
RIDAGEYR       0
RIDRETH1       0
DMDCITZN       1
DMDEDUC2     261
DMDMARTL     261
DMDHHSIZ       0
INDFMPIR     601
BPXSY1       334
BPXDI1       334
BPXSY2       200
BPXDI2       200
BMXWT         69
BMXHT         62
BMXBMI        73
BMXLEG       390
BMXARML      308
BMXARMC      308
BMXWAIST     367
HIQ210      1003
dtype: int64

In [38]:
df.RIAGENDR = df.RIAGENDR.replace({1: "M", 2: "F"})
df.DMDMARTL = df.DMDMARTL.replace({1: "Mar", 2: "Wid", 3: "Div", 4: "Sep", 5: "Nev", 6: "Liv", 77: "Ref", 99: "DK"})
df.ALQ101 = df.ALQ101.replace({1: "Y", 2: "N", 9: "DK"})

In [39]:
df.BMXBMI.describe()

count    5662.000000
mean       29.382197
std         7.095921
min        14.500000
25%        24.300000
50%        28.300000
75%        33.000000
max        67.300000
Name: BMXBMI, dtype: float64

In [40]:
df.DMDMARTL.value_counts()

Mar    2780
Nev    1004
Div     579
Liv     527
Wid     396
Sep     186
Ref       2
Name: DMDMARTL, dtype: int64