In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.1.3

In [3]:
arr=[0,1,2,3,4]
s1=pd.Series(arr)
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [4]:
order=[1,2,3,4,5]
s2=pd.Series(arr, index=order)
s2

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [5]:
import numpy as np
n=np.random.randn(5)
index=['a', 'b', 'c', 'd', 'e']
s3=pd.Series(n, index=index)
s3

a    0.500648
b    1.151805
c   -0.360720
d   -0.412849
e   -1.565926
dtype: float64

In [6]:
df=pd.read_csv('Music/Data_Extract_From_Gender_Statistics.csv')

In [7]:
df.head()

,Series Name,Series Code,Country Name,Country Code,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,A woman can apply for a passport in the same w...,SG.APL.PSPT.EQ,Afghanistan,AFG,0,0,0,0,0,0,1,1,1,1,1
1,A woman can apply for a passport in the same w...,SG.APL.PSPT.EQ,Albania,ALB,1,1,1,1,1,1,1,1,1,1,1
2,A woman can apply for a passport in the same w...,SG.APL.PSPT.EQ,Algeria,DZA,0,0,0,0,0,0,0,0,0,0,0
3,A woman can apply for a passport in the same w...,SG.APL.PSPT.EQ,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..
4,A woman can apply for a passport in the same w...,SG.APL.PSPT.EQ,Andorra,AND,..,..,..,..,..,..,..,..,..,..,..

In [8]:
df.isnull().sum()

Series Name      3
Series Code      5
Country Name     5
Country Code     5
2010 [YR2010]    5
2011 [YR2011]    5
2012 [YR2012]    5
2013 [YR2013]    5
2014 [YR2014]    5
2015 [YR2015]    5
2016 [YR2016]    5
2017 [YR2017]    5
2018 [YR2018]    5
2019 [YR2019]    5
2020 [YR2020]    5
dtype: int64

In [9]:
df.shape

(186209, 15)

In [10]:
df.tail()

,Series Name,Series Code,Country Name,Country Code,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
186204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186207,Data from database: Gender Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186208,Last Updated: 03/22/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.dropna(inplace=True)
df.shape

(186204, 15)

In [12]:
df.tail()

,Series Name,Series Code,Country Name,Country Code,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
186199,"Youth illiterate population, 15-24 years, fema...",UIS.LP.AG15T24.F,West Bank and Gaza,PSE,3125,2808,3523,3383,3238,3538,3355,..,3054,..,..
186200,"Youth illiterate population, 15-24 years, fema...",UIS.LP.AG15T24.F,World,WLD,74953482,72319051,68311314,65394133,62383137,61239092,57916940,56333949,56365524,54987922,..
186201,"Youth illiterate population, 15-24 years, fema...",UIS.LP.AG15T24.F,"Yemen, Rep.",YEM,..,..,..,..,..,..,..,..,..,..,..
186202,"Youth illiterate population, 15-24 years, fema...",UIS.LP.AG15T24.F,Zambia,ZMB,188160,..,..,..,..,..,..,..,151649,..,..
186203,"Youth illiterate population, 15-24 years, fema...",UIS.LP.AG15T24.F,Zimbabwe,ZWE,..,116751,..,..,99261,..,..,..,..,..,..

In [13]:
df['Country Name'].nunique()

263

In [14]:
df['Series Name'].nunique()

708

In [19]:
df['Series Name'].tail(2)

186202    Youth illiterate population, 15-24 years, fema...
186203    Youth illiterate population, 15-24 years, fema...
Name: Series Name, dtype: object